/* Set display for mobile */

.subject-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 45% 65%;
  grid-row-gap: 0;
  background-color: white;
  margin: 10% 5% 3% 5%;
}
.name-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 45% 65%;
  grid-row-gap: 0;
  background-color: white;
  margin: 5% 5% 3% 5%;
}
.email-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 45% 65%;
  grid-row-gap: 0;
  background-color: white;
  margin: 5% 5% 3% 5%;
}
.message-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 10% 90%;
  grid-row-gap: 0;
  background-color: white;
  margin: 5% 5% 3% 5%;
}
input {
  padding: 2%;
}
.btn {
  margin: 5% 5% 10% 5%;
  width: 90%;
  padding: 3%;
}


#contact_form_wrapper {
  background-color: white;
  margin: 25% 5% 5% 5%;
}

#contact_form_header {
  margin-top: 0%;
  margin-left: 5%;
  padding-top: 5%;
  text-decoration: underline;
}

#contact_form_description {
  margin-left: 5%;
  padding-top: 3%;
}

small {

  margin-top: 10px;
  margin-bottom: 10px;

}

#name_error {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Set display for tablets and desktops*/
@media only screen and (min-width: 700px) {

  .subject-wrapper {
      margin: 3% 15% 1% 5%;
      width: 60%;
  }
  .name-wrapper {
      margin: 3% 15% 1% 5%;
      width: 60%;
  }
  .email-wrapper {
      margin: 3% 15% 1% 5%;
      width: 60%;
  }
  .message-wrapper {
      margin: 3% 15% 1% 5%;
      width: 80%;
  }
  .btn {
    margin: 2% 5% 10% 5%;
    width: 20%;
    padding: 2%;
  }

  #contact_form_wrapper {
    background-color: white;
    margin: 10% 5% 5% 5%;
  }

  #contact_us_header {
    text-align: center;
    margin-top: 10%;
  }

  #contact_form_header {
    margin-top: 0%;
    margin-left: 5%;
    padding-top: 5%;
    text-decoration: underline;
  }

  #contact_form_description {
    margin-left: 5%;
    padding-top: 3%;
  }


  body {
    background-color: #d9d9d9;
  }

}
@media only screen and (min-width: 1000px) {
  .subject-wrapper {
      margin: 3% 15% 1% 5%;
      width: 30%;
  }
  .name-wrapper {
      margin: 3% 15% 1% 5%;
      width: 30%;
  }
  .email-wrapper {
      margin: 3% 15% 1% 5%;
      width: 30%;
  }
  .message-wrapper {
      margin: 3% 15% 1% 5%;
      width: 60%;
  }
  .btn {
    margin: 2% 5% 10% 5%;
    width: 15%;
    padding: 1%;
  }
}
