{% extends 'base.html' %}

	{% block header %}
	{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'events/css/style.css' %}">
	{% endblock %}

{% block body %}

<div class="wrapper-header">
  <h2 class="header">{{ current_month_str }} {{ current_year }}</h2>
</div>

<div class="calendar-wrapper">
  <table id="calendar">
    <tr class="weekdays">
      <th>Mon</th>
      <th>Tues</th>
      <th>Wed</th>
      <th>Thurs</th>
      <th>Fri</th>
      <th>Sat</th>
      <th>Sun</th
    </tr>

  <!-- day = tuple where first value is the date e.g. 1-31,
  and the second value is the weekday e.g. 0-6
  day.0 = the first value of the tuple
  day.1 = the second value of the tuple -->

  <tr class="days">

    {% for date, event in foobar %}

      {% if date == event.date.day and current_month == event.date.month %}
      <td>{{ date }}
      <div class="event">
        <div class="event-desc">
          {{ event }}
        </div>
            <div class="event-time">
               {{ event.start_time }} to {{ event.end_time }}
            </div>
          </div>
      </td>

			{% elif date == 0 %}
			<td class="day"></td>

      {% else %}
        <td class="day">{{ date }}</td>

      {% endif %}

    {% endfor %}

  </tr>
  </table>

</div>

{% endblock %}
