{% extends 'base.html' %}

{% block header %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login-style.css' %}">
{% endblock %}

{% block body %}
<section class="container-fluid">
	<section class="row justify-content-center">
		<section class="col-12 col-sm-6 col-md-3">
			<h2>Login</h2>
			<form class="form-container" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			  <button type="submit" class="btn btn-primary btn-block">Login</button>
			</form>
		</section>
	</section>
</section>
{% endblock %}