/*Set display for mobile*/

#wrapper {
    background: lightgrey;
}
#inside-wrapper {
    background: white;
    margin: 10% 7% 7% 7%;
    /*padding-top: 1%;*/
    padding-bottom: 3%;
}

#map {
    height: 500px;
    width: 80%;
    margin-left: auto;
    margin-top: 5%;
    margin-right: auto;
    margin-bottom: 10%;
    padding-bottom: 50%;
}

#description {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
    /*text-align: center;*/
}

body h1 {
	/*text-align: center;*/
	padding-top: 5%;
    text-decoration: underline;
}

/*Set display for tablets*/
@media only screen and (min-width: 700px) {


    #map {
        height: 500px;
        width: 60%;
        margin-left: auto;
        margin-top: 2%;
        margin-right: auto;
        margin-bottom: 10%;
        padding-bottom: 50%;
    }

    body h1 {
    	text-align: center;
		margin-top: 7%;
    }

}
/*Set display for desktops*/
@media only screen and (min-width: 1000px) {

}
