body{
    position: relative;
    min-height: 100v	
}
/**************
Footer
**************/

footer {
    background-color: darkslategrey;
    text-align: center;
    color:  aliceblue;
	 position: absolute;
	bottom: 0;
	width: 100%;
	height: auto;
    border-top: solid black .1em;
}

/*controls the width of the footer*/
.footerContent{
    overflow: hidden;
	padding: .5em 1em;

}

footer li, footer a {/*Styling for footer menu items, margin added to reduce risk of incorrect selections*/
    list-style-type: none;
    padding: .2em 0em;
    margin: .5em 0 0 0;
    color:  aliceblue;
    text-decoration: none;
}

footer h3{
    color: skyblue;
    margin: 0;
	padding: 0 0 .5em 0;
	font-size: 1.5em;
}

footer .lowerFooter{
    background-color: #404040;
    overflow: hidden;
}

.lowerFooter i{
    padding: .5em;;
}

.logoPlaced {
    display: none;
}

a.fa.fa-facebook-official{
    margin: 0;
    padding: .2em;
}

.footerMain{
    padding: 1em 0;
}

.rightAlign{
    float: right;
}

.leftAlign{
    float: left;
}

.contactUs a{
	padding: 0;
	margin: 0;
}

/***********
Logo placeholder
***********/



/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {

.footerMain{
    float: left;
    margin: 1em 1em 0 1em;
    /*text-align: left;*/
    width: 44.2%;
    padding: 0; 
}

footer .lowerFooter{
    clear: both;
}

.lowerFooter i{
    padding: 1em;
}
    
} 


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {

.footerMain{
	margin: 0;
}


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) { 

.logoPlaced{
    display: block; 
    overflow: hidden;
    float: left;
}


.logoPlaced img{
    width: 8em;
    float: left;
}
       
.logoText{
    text-align: left;
    float: left;
	width: 60%;
}

.logoText h2{
	font-size: 1.5em; 
}

.logoText h4{
	font-size: 1em;
}
    
 .footerMain{
    width: 15.5%;
    text-align: left;
    float: right;
}    
  
.lowerFooter i{
    margin: 0em 2em;
}
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    
.footerContent,{
    width: 90%;
	margin: 0 auto;

}
    
.footerMain {
    width: 21.2%;
} 
    
    
.lowerFooter i{
    margin: 0em 5em;
}
    
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
.footerMain {
    width: 23%;
} 
    
.footerContent{
}
    
}
