
/**************
Footer
**************/

footer {
    background-color: darkslategrey;
    text-align: center;
    color:  aliceblue;
}

/*controls the width of the footer*/
.footerContent{
    padding: 1% 7%;
}

footer li, footer a {/*Styling for footer menu items, margin added to reduce risk of incorrect selections*/
    list-style-type: none;
    padding: .5em 0em;
    margin: .2em 0em;
    color:  aliceblue;
    text-decoration: none;
}

footer h3{
    color: skyblue;
    margin: 0;
}

footer .lowerFooter{
    background-color: lightslategrey;
    overflow: auto;
}

.lowerFooter i{
    margin: 0;
    padding: 1em;
	
}

.logoPlaced, .footerNav {
    display: none;
}

a.fa.fa-facebook-official{
    margin: 0;
    padding: .2em;
}

.footerMain{
    padding: 1em 0;
}

.rightAlign{
    float: right;
		width: 45%;
}

.leftAlign{
    float: left;
}



/* styling to the facebook logo, maybe to re-add
a.fa { 
    padding: 4px 5px 4px 5px ;
    background-color: black;
    color: aliceblue;
}*/

/***********
Logo placeholder
***********/



/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {

footer .lowerFooter{
    clear: both;
}

.footerMain{
    float: left;
    margin: 1em 1em;
    /*text-align: left;*/
    width: 43.5%;
    padding: 0; 
}
    


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
footer{
    background-color: darkslategrey;
    }    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
 .logoPlaced img{
    width: 8em;
    float: left;
}

.logoText{
    float: left;
    font-size: .8em;
    text-align: left;
    width: 25%;
 }
    
.logoPlaced{
    display: block;
}

.footerMain{
    width: 22.5%;
    text-align: left;
}


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
footer .footerNav{
    display: block;    
}

.footerMain{
    width: 15%;    
}
  
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    
    .footerMain{
        width: 17%;
    }
    
}
