@media(max-width: 767px){
  .min {
    margin-left: 25px;
  }
}


.back{
  background-color: #0D4970;
  font-size: 1.25em;
  text-align: center;
}


a.nav-link.dropdown-toggle::after {
    content: none;
}


.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.dropdown-menu li {
    text-align: center;
}

.navbar {
    padding: 1rem 1rem;
}

.navbar-brand {
    font-size: 1.5rem;
}

.dropdown-menu li a {
    text-decoration: none;
}

.dropdown-menu {
    border: 2px solid #0244ad;
    border-radius: 5px;
}

.min {
  margin-top: 8px;
  color: white;
}

.min:hover {

  cursor: pointer;
  color: #d8dae3;
}



}
