<!DOCTYPE html>
<html>
<head>
    <title></title>


    <style type="text/css">

        #map {
            height: 400px;
            width: 100%;
        }


    </style>


</head>
<body>


    <h1>Google Map</h1>


    <div id="map">
    </div>

    <script type="text/javascript">

        function initMap(){

            // map options
            var options = {
                zoom: 15,
                center: {lat: 30.865410, lng: -83.383724}
            }

            // new map
            var map = new google.maps.Map(document.getElementById('map'), options);

            // marker
            var marker = new google.maps.Marker({
                position: {lat: 30.865410, lng: -83.383724},
                map: map,
                icon: 'church.svg'
            });


            var infoWindow = new google.maps.InfoWindow({
                content: '<h2> Gateway Baptist Church </h2>'
            });

            marker.addListener('mouseover', function(){
                infoWindow.open(map, marker);
            });

        }

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAR9ExVyqXywPKHJqYtgFVEVJA7uQHSKY8&callback=initMap"
    async defer></script>


</body>
</html>
