{% extends 'base.html' %}

{% block header %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'sermons/css/style-details.css' %}">
  <script src="{% static 'sermons/js/script.js' %}"></script>
{% endblock %}

{% block body %}

<div class="wrapper">

    <h1 class="header">{{ sermon.title }}</h1>

    <h3 class="date">{{ sermon.date }}</h3>

    <div class="audio">
      		<audio controls id="track" preload="metadata">
      			<source src="{{ sermon.file.url }}" type="audio/mpeg">
      		</audio>
    </div>

</div>
<div class="description">
    <p>{{ sermon.get_duration }} minutes | {{ sermon.file.size|filesizeformat }}</p>
    <p>{{ sermon.description }}</p>
</div>

{% load static %}
  <script src="{% static 'sermons/js/script.js' %}"></script>

{% endblock %}
