<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/footer-stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
    
    
</body>
    
<footer>
    <div class="logoPlaced">
        <img src="static\img\Logo.png">
        <div class="logoText" >
            <h2>GATE<span style="color:#cfa7e8">WAY</span><br> BAPTIST CHURCH</h2>
            <h4 style="clear: left; margin: 5px;">17825 Valdosta Hwy, Valdosta, GA 31602</h4>
        </div>
    </div>
    
    
    <div class="services">
        <h3>Services</h3>
        <li><a>Sunday 9 am - 11 am</a></li>
        <li><a>Wednesday 4 pm - 6 pm</a></li>
    </div>
  
    <div class="contactUs">
        <h3>Contact us</h3>
        <li><a href="#">test@email</a></li>
        <li><a>(444) 444 - 4444</a></li>
        <li><a href="#" class="fa fa-facebook facebookLogo"></a></li>
    </div>
    
    <div class="navigation">
        <h3>Placeholder</h3>
        <li><a href="#">placeholder</a></li>
        <li><a href="#">placeholder</a></li>
        <li><a href="#">placeholder</a></li>
    </div>
    
    <div>
        <p style="padding: 5px; margin: 0px;">Copyright &copy; 2020 Contact <a>Webmaster</a></p>
    </div>
    

</footer>
</html>    
    
    
    
    
    
    
    
    
    
    
    
    
    
    