    <div class="footerContent">
        <div class="logoPlaced">
        {% load static %}
        <img src="{% static 'img/Logo.png' %}">
            <div class="logoText" >
                <h2>GATE<span style="color:#cfa7e8">WAY</span><br> BAPTIST CHURCH</h2>
                <h4 style="clear: left; margin: 5px;">17825 Valdosta Hwy, Valdosta, GA 31602</h4>
            </div>
        </div>


        <div class="services footerMain">
            <h3>Services</h3>
            <li>Sunday School 9:45am </li>
            <li>Sunday worship 11am & 6pm</li>
            <li>Wednesday worship 7:30pm </li>
        </div>

        <div class="contactUs footerMain">
            <h3>Contact us</h3>
            <li><a href="mailto:gwaybaptist@gmail.com">gwaybaptist@gmail.com</a></li>
            <li><a href="tel:+2292418844">(229) 241-8844</a></li>
            <li>
                <a
                href="https://www.facebook.com/pages/Gateway-Baptist-Church/266605370109693?rf=743985075635002"
                 style="font-size:2em"><i class="fab fa-facebook"></i>
                </a>
            </li>
        </div>
    </div>

        <div  class="lowerFooter">
                <i class="leftAlign">Copyright &copy; 2020 Contact <a>Webmaster</a></i>
                <i class="rightAlign"><a href="{% url 'admin:index' %}"> Admin login</a></i>
        </div>
