{% extends 'base.html' %}

	{% block header %}
	{% load static %}
	<link href="{% static 'css/index-style.css' %}" rel="stylesheet">
	{% endblock %}


{% block body %}

  <header id="showcase" class="grid">
    <div class="bg-image"></div>
    <div class="content-wrap">
      <h1>Welcome to Gateway</h1>
      <p></p>
      <a href="#section-a" class="btn">You're Invited</a>
    </div>
  </header>

  <!-- Main Area -->
  <main id="main">
    <!-- Section A -->
	    <section id="section-a" class="grid">
	      <div class="content-wrap">
	        <h2 class="content-title">Service Times</h2>
	        <hr>
	        <div class="content-service-wrapper">
	          <table class="content-table">
							<tr>
								<th>Sunday</th>
							</tr>
	            <tr>
	              <td>Sunday School <br>9:45 am</td>
							</tr>
							<tr>
								<td>Morning worship <br>11 am</td>
							</tr>
							<tr>
								<td>Evening worship <br>6 pm</td>
							</tr>
	          </table>

							<table class="content-table">
								<tr>
									<th>Wednesday</th>
								</tr>
								<tr>
									<td>Evening worship <br>7 pm</td>
								</tr>
							</table>
						</div>
	        </div>
	    </section>

			<!-- Section B --->
	<section id="section-b" class="grid">
		<ul>
			{% for event in three_events %}
			<li>
				<div class="card">
					<!-- <img src="{% static 'img/church.png' %}" alt="Gateway Baptist Church"> -->
					<div class="card-content">
						<h3 class="card-title">{{ event.name }}</h3>
						<h5>{{ event.date }}</h5>
						<h5>{{ event.start_time }} to {{ event.end_time }}</h5>
						<p>{{ event.short_description }}</p>
						<button class="btn">View Details</button>
					</div>
				</div>
			</li>
			{% endfor %}
        <!-- <li>
          <div class="card">
            <img src="{% static 'img/church.png' %}" alt="Gateway Baptist Church">
            <div class="card-content">
              <h3 class="card-title">Sunday Night Sing</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id temporibus,
                fugiat alias reprehenderit repudiandae nam delectus iste at provident.
                Repellat.</p>
              <button class="btn">View Details</button>
            </div>
          </div>
        </li>
        <li>
          <div class="card">
            <img src="{% static 'img/church.png' %}" alt="Gateway Baptist Church">
            <div class="card-content">
              <h3 class="card-title">Brotherhood Meeting</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id temporibus,
                fugiat alias reprehenderit repudiandae nam delectus iste at provident.
                Repellat.</p>
              <button class="btn">View Details</button>
            </div>
          </div>
        </li> -->
      </ul>
    </section>

  <!-- Section C --->
    <section id="section-c" class="grid">
      <div class="content-wrap">
        <h2 class="content-title">About our Church</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ipsum fuga sed
          aut obcaecati provident dolorum, perferendis laboriosam neque deleniti.</p>
      </div>
    </section>

    <!-- Section D --->
    <section id="section-d" class="grid">
      <div class="box">
        <h2 id="content-title">Listen to Sermons</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione architecto
          quisquam maiores est provident laudantium ullam eos, quam error rerum?</p>
      </div>
			<div class="box">
        <h2 class="content-title">Ministries</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro possimus animi
          voluptatibus vel accusamus id quia minus voluptatem quae tenetur!</p>
        <p>Contact jacksieverd@gatewaybaptist.com</p>
      </div>
    </section>

		<section id="section-e" class="grid">
			<div class="content-wrap">
				<h2 class="content-title"><a id="contact-link" href="{% url 'contact:index' %}"> Contact Us</a></h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ipsum fuga sed
					aut obcaecati provident dolorum, perferendis laboriosam neque deleniti.</p>
			</div>
		</section>

  </main>

  <!-- Footer -->
  <footer id="main-footer" class="grid">
    <div>
      <address>
        Visit us at:<br>
        17825 Valdosta Hwy, Valdosta, GA 31602
      </address>
    </div>
    <div>(229) 241-8844</div><br>

    <div>Contact <a href="" target="_blank">webmaster</a></div>
  </footer>


{% endblock %}
