{% extends 'base.html' %}

	{% block header %}
	{% load static %}
	<link href="{% static 'css/index-style.css' %}" rel="stylesheet">
	{% endblock %}


{% block body %}

  <header id="showcase" class="grid">
    <div class="bg-image"></div>
    <div class="content-wrap">
      <h1>Welcome to Gateway</h1>
      <p></p>
      <a href="#section-a" class="btn-1 btn">You're Invited</a>
    </div>
  </header>

  <!-- Main Area -->
  <main id="main">
    <!-- Section A -->
	    <section id="section-a" class="grid">
	      <div class="content-wrap">
	        <h1 class="content-title">Service Times</h1>

	        <div class="content-service-wrapper">
	          <table class="content-table">
							<tr>
								<th>Sunday</th>
								<th></th>
								<th>Wednesday</th>
							</tr>
	            <tr>
								<td>Sunday School</td>
								<td></td>
								<td>Evening Worship</td>
							</tr>
							<tr>
								<td>9:45 am</td>
								<td></td>
								<td>7:30 pm</td>
							</tr>
							<tr>
								<td>Morning Worship</td>
							</tr>
							<tr>
								<td>11 am</td>
							</tr>
							<tr>
								<td>Evening Worship</td>
							</tr>
							<tr>
								<td>6 pm</td>
							</tr>
	          </table>
						</div>
	        </div>
	    </section>

			<!-- Section B --->
	<h1>Upcoming events</h1>
	<section id="section-b" class="grid">
		<ul>
			{% for event in three_events %}
			<li>
				<div class="card">
					<div class="card-content">
						<div class="card-title"><h3>{{ event.name }}</h3></div>
						<div class="date-card">
							<div class="month">
								{{ event.date|date:'F' }}
							</div>
							<div class="day">
								{{ event.date.day }}
							</div>
						</div>
						<div class="card-time">
							{{ event.start_time }} – {{ event.end_time }}
						</div>
							<p>{{ event.short_description }}</p>
							<button class="btn"><a href="{% url 'events:detail' event.date.year event.date.month event.date.day event.pk %}">
								View Details</a></button>
						</div>
				</div>
			</li>
			{% endfor %}
      </ul>
    </section>

  <!-- Section C --->
    <section id="section-c" class="grid">
      <div class="content-wrap">
        <h2 class="content-title">About our Church</h2>
					<div class="w3-panel w3-leftbar w3-light-grey">
					  <p class="w3-xlarge w3-serif">
							<i class="fa fa-quote-left w3-xxlarge w3-opacity"></i>
					  <i>"Surely the Lord is in this place... This is none other but the house of God
							, and this is the gate of heaven."</i><i class="fa fa-quote-right w3-xxlarge w3-opacity"></i>
						</p>

					  <p>Genesis 28:16–17</p>
					</div>
      </div>
    </section>

    <!-- Section D --->
    <section id="section-d" class="grid">
      <div class="box">
        <h2 id="content-title">Listen to Sermons</h2>
        <p>Visit our <a href="{% url 'sermons:index' %}">Sermon Archive</a> to listen to previous sermons delivered at
				 Gateway Baptist Church </p>
      </div>
			<div class="box">
        <h2 class="content-title">Ministries</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro possimus animi
          voluptatibus vel accusamus id quia minus voluptatem quae tenetur!</p>
        <p>Contact jacksieverd@gatewaybaptist.com</p>
      </div>
    </section>

		<section id="section-e" class="grid">
			<div class="content-wrap">
				<h2 class="content-title"><a id="contact-link" href="{% url 'contact:index' %}"> Contact Us</a></h2>
				<div class="w3-col m4 images-class"></div>
				<div class="w3-col m4 images-class"></div>
				<div class="w3-col m4 images-class"></div>
				<!-- <div class="w3-col m4 images-class"></div>
				<div class="w3-col m4 images-class"></div> -->
			</div>
		</section>

  </main>

  <!-- Footer -->
  <footer id="main-footer" class="grid">
    <div>
      <address>
        Visit us at:<br>
        17825 Valdosta Hwy, Valdosta, GA 31602
      </address>
    </div>
    <div>(229) 241-8844</div><br>

    <div>Contact <a href="" target="_blank">webmaster</a></div>
  </footer>


{% endblock %}
