  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{% url 'home:index' %}">Gateway Baptist</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Ministries <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'sermons:index' %}">Sermons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'location' %}">Location</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'events:index' %}">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact:index' %}">Contact</a>
        </li>
      </ul>
      {% if user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right ml-auto">
          <li class="nav-item">
            <a class="nav-link" style="right: 0; left:auto;" href="">Dashboard</a>
          </li>
          <li class="nav-item"><a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">{{ user.username }}</a>
            <ul class="dropdown-menu" style="right: 0; left:auto;">
              <li><a href="{% url 'logout' %}">Log out</a></li>
            </ul>
          </li>
        </ul>
      {% else %}
      {% endif %}
    </div>
  </nav>
