{% extends 'base.html' %}

{% block header %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'contact/css/style-index.css' %}">
	<script src="{% static 'contact/js/contact-script.js' %}" type="text/javascript"></script>
{% endblock %}

{% block body %}


	<div id="contact_form_wrapper">


		<h2 id="contact_form_header">Contact Form</h2>
		<p id="contact_form_description">
			We would love to hear from you! We welcome any inquiries, questions, or comments.
			Reach out if you're interested in <br/>joining our church, or have questions about a
			sacrament such as a baptism, wedding, or funeral. Fill out the contact <br/>form below
			and we will return your inquiry as soon as we can.
		</p>

			{% if messages %}
				<ul>
					{% for message in messages %}
						<div class="alert alert-primary messages" role="alert">
							<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
						</div>
					{% endfor %}
				</ul>
			{% endif %}


			<div id="error_message">
				<form id="myform" onsubmit="return validation();" class="" action="" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{{ form.errors }}
					<div class="subject-wrapper input_field">
						<label id="subject-label" for="">Subject</label>
							<input type="text" placeholder="Enter subject" id="subject" name="subject" value="{{ subject }}">
							<small id="subject_error"></small>
					</div>

					<div class="name-wrapper input_field">
						<label id="name-label" for="">Name</label>
							<input type="text" placeholder="Enter your name" id="name" name="name" value="{{ name }}">
							<small id="name_error"></small>
					</div>

					<div class="email-wrapper input_field">
						<label for="">Email address</label>
							<input type="email"
									placeholder="Enter your email"
									id="email"
									name="email"
									value="{{ email }}">
							<small id="email_error"></small>
					</div>

					<div class="message-wrapper input_field">
							<label for="">Message</label>
							<textarea name="body" id="message" placeholder="Enter your message" value="{{ body }}" rows="11" required></textarea>
					</div>

					<button class="btn btn-primary" id="submit" type="submit">Submit</button>

					</form>
			</div>
		</div>

<!-- </div> -->


{% endblock %}
