.box_shadow{
    box-shadow: 5px 10px 18px #888888;
}
.header {
  padding-top: 60px;
}
.messages {
    font-size: 18px;
    list-style-type: none;
}
.pagination {
    text-align: center;
}
.pagination-action {
    margin: 0 1em 0 0 ;
    display: inline-block;
    padding: 0.3em;
    color: #B9B9B9;
    font-size: 1.3em;
}
.pagination-action:hover {
    color: #3354AA;
    text-decoration: none;
}
.pagination-number:hover {
    color: white;
    text-decoration-style: none;
    text-decoration: none;
}
.pagination-number {
    background-color: #6D85C7;
    padding: 0.8em 0.8em;
    color: #fff;
    border-radius: 2px;
    margin: 0px 2px 0px 2px ;
}
.pagination-number:hover, .pagination-current {
    background-color: #3354AA;
}



#sermons {
    margin: 0% 0% 0% 0%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    width: 100%;
    box-shadow: 5px 10px 18px #888888;
}

#sermons td, #sermons th {
    padding: 8px;
}
#sermons tr:nth-child(even){
    background-color: #f2f2f2;
}

#sermons tr:hover {
    background-color: #D9E9FF;

}
#sermons th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #357096;
    color: white;
    font-size: 18px;
}
#download-icon {
    display: block;
    height: 25px;
    width: 25px;
}
.file {
    display:inline-block;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	/* grid-template-rows: repeat(2, 1fr); */
	grid-row-gap: 0;
}
.wrapper-header {
	display: grid;
	margin: 0% 0 0 0;
	grid-column: 1 / span 8;
	text-align: center;
  background-color: #0D4970;
  /* background-image: linear-gradient(#0D4970, #357096); */

}
.header {
  color: white;
  font-size: 40px;
}
.wrapper-search {
	display: grid;
	margin: auto 0;
	grid-column: 1 / span 8;
	grid-row: 2;
  margin: 5% 5% 5% 5%;
}

.wrapper-messages {
	display: grid;
	grid-column: 1 / span 8;
	grid-row: 3;
	margin: auto 0;
}
.wrapper-table {
	display: grid;
	margin: 0 3% 0 3%;
	grid-column: 1 / span 8;

}

/*Set display for tablets and desktops*/
@media(min-width: 700px){
  .header {
    margin-top: 5%;
  }
  .wrapper-header {
  	margin: auto 0;
  	/* grid-column: 3 / span 4; */

  }
  .wrapper-search {
  	/* margin: auto 0; */
    margin: 10% 0 5% 0;
  	grid-column: 2 / span 4;
  }

  .wrapper-messages {
  	grid-column: 2 / span 4;
  	margin: auto 0;
  }
  .wrapper-table {
  	grid-column: 2 / span 6;
    margin: auto 0;
  }
}
@media(min-width: 1000px){
  .wrapper-search {
  	/* margin: auto 0; */
  	grid-column: 2 / span 2;
  }

}
